@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.main {
  padding: 40px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #f6f6f6;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container > h1 {
  font-size: 40px;
}

.container > input {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid;
  margin: 20px;
  width: 400px;
  text-align: center;
  outline: none;
  padding: 5px;
  font-size: 20px;
}

.container > button {
  padding: 5px;
  font-size: 20px;
  width: 230px;
  border-radius: 5px;
  border: none;
  background-color: #f96fd2;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.container > button:hover {
  background-color: #fbc2eb;
}

#barcode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#barcode > svg {
  margin: 20px;
}

#barcode > button {
  padding: 5px;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  background-color: #f96fd2;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

#barcode > button:hover {
  background-color: #fbc2eb;
}
